.head
{
    background-color: rgba(255, 81, 37, 0.705);
    position: fixed;
    z-index:1;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a
{
    text-decoration: none;
   
    font-weight: bold;
    color: aliceblue;
}
.footer-container{
    display: flex;
    justify-content: space-around;

}
.footer-item
{
    width: 25%;
}

.footer
{
    background-color: rgba(255, 102, 102, 0.541);
    padding: 10px 50px 10px 50px;

}
.price
{
    text-align: center;
    position: relative;
    background-color: rgb(255, 72, 72);
    padding: 5px ;
    top: 10px;
    margin: 0 80px;
    color: aliceblue;
    font-size: 25px;
}
.spmoi
{
    width: 450px;
    position:relative ;
    border: 5px ridge rgba(255, 142, 142, 0.753);
    margin-bottom: 50px;
    text-align: center;
}

.spmoi:hover
{
    border: 1px solid rgb(156, 156, 156);
    
}
.spmoi:hover .price
{
    margin-bottom: 30px;
}

.product-img
{
    width: 450px;
}
.name
{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}
.content
{
    margin-left: 10px;
}
.vanphongpham
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.drop 
{    
    color: rgb(255, 255, 255);  
    font-weight: bold;
    padding: 10px 20px;    
    font-size: 20px;  
    border: none;  
    cursor: pointer;
}
.dropdown 
{  
    position: relative;  
    display: inline-block;
}
.drop-content 
{  
    display: none;  
    position: absolute;  
    background-color: rgb(255, 152, 169);  
    min-width: 150px;  
    min-height: 90px;
    z-index: 1;
    font-size: 16px;
    border: 1px solid rgb(179, 179, 179);
    padding: 10px;

}
.drop-content a:hover
{  
    
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 10px 0 rgba(88, 29, 29, 0.2);
}
.dropdown:hover .drop-content 
{  
    display: block;
}